.container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 28px 25px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 49px;
}

.item {
  width: 353px;
  height: 382px;
  margin-bottom: 20px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.itemImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 6px;
}

.itemInfo {
  width: 100%;
  height: 100%;
  background-color: rgba(43, 47, 60, 0.65);
  position: absolute;
  border-radius: 6px;
  color: #ffffff;
  bottom: 0;
  font-size: 18px;
  font-weight: 700;
  padding: 23px 17px 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 1s;
}

.itemInfoActive {
  bottom: calc(-100% + 50px);
  background-color: rgba(67, 67, 67, 0.8);
  transition: 1s;
  padding: 11px 22px 10px 23px;
}

.itemInfoWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.itemInfoEmailRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemInfoRating {
  display: flex;
  align-items: center;
}

.itemInfoEmail {
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemInfoText {
  margin-top: 20px;
  font-weight: 500;
}

.itemInfo img {
  width: 26px;
  height: 26px;
  margin-left: 4px;
}

.moreButton {
  width: 218px;
  height: 47px;
}

.visitButton {
  margin-top: 20px;
  width: 218px;
  height: 47px;
}

@media (max-width: 768px) {
  .item {
    width: 100%;
    height: 270px;
  }

  .itemsWrapper {
    justify-content: center;
    margin-bottom: 0;
  }

  .itemInfo {
    font-size: 12px;
    padding: 10px 15px;
  }

  .itemInfoActive {
    bottom: calc(-100% + 40px);
    background-color: rgba(67, 67, 67, 0.8);
    transition: 1s;
    padding: 10px;
  }

  .itemInfo img {
    width: 20px;
    height: 20px;
    margin-left: 4px;
  }

  .visitButton {
    width: 100%;
    height: 40px;
  }
}
