.checkboxWrapper {
  display: flex;
  margin-top: 21px;
  margin-bottom: 41px;
  align-self: flex-start;
  align-items: center;
}

.checkbox {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #7469f3;
  margin-right: 5px;
  border-radius: none;
  cursor: pointer;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-radius: 1px;
  cursor: pointer;
}

.checkbox input:checked ~ .checkmark {
  background-color: #7469f3;
}

@media (max-width: 768px) {
  .checkboxWrapper {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}
