.header {
  margin: 31px 0 34px 0;
  display: flex;
  justify-content: flex-end;
}

.button {
  width: 218px;
  height: 47px;
}

@media (max-width:768px) {
  .header {
    margin: 15px 0;
    justify-content: center;
  }
}